@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&family=Quicksand:wght@300;400&family=Roboto+Mono&family=Signika+Negative&display=swap');
/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Signika Negative', sans-serif;
*/
.secrets {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}
.secrets-header {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-family: 'Quicksand', sans-serif;
  margin-top: -6%;
}
.secrets-header > h1 {
  font-size: 3rem;
}
.secrets-header > input[type='text'] {
  align-self: center;
  width: 60%;
  padding: 2%;
  margin-left: 2%;
  margin-top: 3%;
}
.secrets-catalogue {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}
.secret-card {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-family: 'Montserrat', sans-serif;
  margin: 1%;
  cursor: pointer;
  transition: 0.9s ease;
}
.secret-card > h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
.secret-card-btns {
  align-self: center;
  display: flex;
}
.secret-card-btns > button:nth-child(1) {
  margin-right: 1%;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: royalblue;
  border: 1px solid royalblue;
  border-radius: 2px;
  transition: 0.3s ease;
}
.secret-card-btns > button:nth-child(1):hover {
  background: royalblue;
  color: white;
}
.secret-card-btns > button:nth-child(2) {
  margin-left: 1%;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: crimson;
  border: 1px solid crimson;
  border-radius: 2px;
  transition: 0.3s ease;
}
.secret-card-btns > button:nth-child(2):hover {
  background: crimson;
  color: white;
}
.secret-info {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  align-items: center;
}
.secret-info > h2 {
  text-align: center;
  padding: 2%;
  font-size: 1.4rem;
}
.secret-info > img {
  width: 60%;
}
.secrets-edit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.secrets-edit > input {
  width: 30%;
}
.secrets-edit > input:nth-child(1) {
  margin-right: 2%;
}
.secrets-edit > button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 8px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 2%;
}
.secrets-edit > button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.secrets-edit > button:hover {
  background-color: #2c974b;
}
.secrets-edit > button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}
.secrets-edit > button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}
.secrets-edit > button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.secrets-floater-btn {
  position: fixed;
  top: 79%;
  right: 4%;
  display: inline-block;
  border: none;
  font-size: 3rem;
  outline: none;
}
.secrets-floater-btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.1s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 33px,
    rgba(0, 0, 0, 0.22) 0px 10px 11px;
}
.todo-floater-btn:disabled {
  cursor: default;
}
.todo-floater-btn:active {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

