@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&family=Quicksand:wght@300;400&family=Roboto+Mono&family=Signika+Negative&display=swap');
/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Signika Negative', sans-serif;
*/
.secrets {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}
.secrets-header {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-family: 'Quicksand', sans-serif;
  margin-top: -6%;
}
.secrets-header > h1 {
  font-size: 3rem;
}
.secrets-header > input[type='text'] {
  align-self: center;
  width: 60%;
  padding: 2%;
  margin-left: 2%;
  margin-top: 3%;
}
.secrets-catalogue {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}
.secret-card {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-family: 'Montserrat', sans-serif;
  margin: 1%;
  cursor: pointer;
  transition: 0.9s ease;
}
.secret-card > h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
.secret-card-btns {
  align-self: center;
  display: flex;
}
.secret-card-btns > button:nth-child(1) {
  margin-right: 1%;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: royalblue;
  border: 1px solid royalblue;
  border-radius: 2px;
  transition: 0.3s ease;
}
.secret-card-btns > button:nth-child(1):hover {
  background: royalblue;
  color: white;
}
.secret-card-btns > button:nth-child(2) {
  margin-left: 1%;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: crimson;
  border: 1px solid crimson;
  border-radius: 2px;
  transition: 0.3s ease;
}
.secret-card-btns > button:nth-child(2):hover {
  background: crimson;
  color: white;
}
